{% extends 'base.html.twig' %}

{% block content %}
    {% set personal_menu = [
        {
            'title': 'Мой кабинет',
            'visible': true,
            'visibleIndex': true,
            'icon': 'fa-user',
            'iconLarge': '',
            'path': '/personal',
            'is_current': app.request.pathInfo starts with '/personal' and not (
        app.request.pathInfo starts with '/personal/orders' or
        app.request.pathInfo starts with '/personal/account' or
        app.request.pathInfo starts with '/personal/private' or
        app.request.pathInfo starts with '/personal/change-password' or
        app.request.pathInfo starts with '/personal/profiles' or
        app.request.pathInfo starts with '/personal/subscribe'
        )
        },
        {
            'title': 'Личные данные',
            'visible': true,
            'visibleIndex': true,
            'icon': 'fa-user-edit',
            'iconLarge': 'personal',
            'path': '/personal/private',
            'is_current': app.request.pathInfo starts with '/personal/private'
        },
        {
            'title': 'Текущие заказы',
            'visible': true,
            'visibleIndex': true,
            'icon': 'fa-shopping-cart',
            'iconLarge': '',
            'path': '/personal/orders',
            'is_current': app.request.pathInfo starts with '/personal/orders' and
            not app.request.pathInfo starts with '/personal/orders/?filter_history=Y'
        },
        {
            'title': 'История заказов',
            'visible': true,
            'visibleIndex': true,
            'icon': 'fa-history',
            'iconLarge': 'filter_orders',
            'path': '/personal/orders/?filter_history=Y',
            'is_current': app.request.pathInfo starts with '/personal/orders/?filter_history=Y' or
            app.request.query.get('filter_history') == 'Y'
        },
        {
            'title': 'Личный счет',
            'visible': false,
            'visibleIndex': false,
            'icon': 'fa-wallet',
            'iconLarge': 'bill',
            'path': '/personal/account',
            'is_current': app.request.pathInfo starts with '/personal/account'
        },
        {
            'title': 'Сменить пароль',
            'visible': true,
            'visibleIndex': false,
            'icon': 'fa-key',
            'iconLarge': '',
            'path': '/personal/change-password',
            'is_current': app.request.pathInfo starts with '/personal/change-password'
        },
        {
            'title': 'Профили заказов',
            'visible': false,
            'visibleIndex': false,
            'icon': 'fa-clipboard-list',
            'iconLarge': 'profile',
            'path': '/personal/profiles',
            'is_current': app.request.pathInfo starts with '/personal/profiles'
        },
        {
            'title': 'Корзина',
            'visible': false,
            'visibleIndex': true,
            'icon': 'fa-shopping-basket',
            'iconLarge': 'cart',
            'path': '/cart',
            'is_current': app.request.pathInfo starts with '/basket'
        },
        {
            'title': 'Подписки',
            'visible': false,
            'visibleIndex': false,
            'icon': 'fa-bell',
            'iconLarge': 'subscribe',
            'path': '/personal/subscribe',
            'is_current': app.request.pathInfo starts with '/personal/subscribe'
        },
        {
            'title': 'Контакты',
            'visible': false,
            'visibleIndex': false,
            'icon': 'fa-address-book',
            'iconLarge': 'contact',
            'path': '/contacts',
            'is_current': app.request.pathInfo starts with '/contacts'
        },
        {
            'title': 'Выйти',
            'visible': true,
            'visibleIndex': false,
            'icon': 'fa-sign-out-alt',
            'iconLarge': '',
            'path': '/auth/logout',
            'is_exit': true,
            'is_current': false
        }
    ] %}

    <div class="container-fluid wraps hover_shine" id="content">
        <!-- Title Content -->
        <div class="row">
            <div class="col-12 top_inner_block_wrapper">
                <div class="page-top-wrapper grey v3">
                    <section class="page-top">
                        <div class="page-top-main">
                            <h1 id="pagetitle">Личный кабинет</h1>
                        </div>
                        <div class="breadcrumbs" id="navigation" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <link href="/personal" itemprop="item" />
                                <span>
                                    <a href="/personal" itemprop="name">Личный кабинет</a>
                                    <meta itemprop="position" content="1">
                                </span>
                            </span> /
                            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <link href="/personal/" itemprop="item" />
                                <span>
                                    <a href="/personal" itemprop="name">{{ page.title }}</a>
                                    <meta itemprop="position" content="2">
                                </span>
                            </span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- End Title Content -->

        <div class="row wrapper_inner">
            <!-- Left Sidebar -->
            <div class="col-md-3 left_block">
                <ul class="left_menu">
                    {{ include('personal/menu.html.twig') }}
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 right_block">
                <div class="middle">
                    <div class="container-fluid">
                        <div class="personal_wrapper">
                            <h2>Личный кабинет</h2>
                            <div class="personal_info">Добро пожаловать в ваш личный кабинет. Здесь вы можете управлять заказами, счетом и личными данными.</div>

                            <div class="row">
                        {% for item in personal_menu %}
                            {% if item.visibleIndex %}
                                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <div class="sale-personal-section-index-block">
                                        <a class="sale-personal-section-index-block-link text-decoration-none" href="{{ item.path }}">
                                            <span class="sale-personal-section-index-block-ico">
                                                <i class="fas {{ item.icon }} {{ item.iconLarge }}"></i>
                                            </span>
                                            <h2 class="sale-personal-section-index-block-name h5">
                                                {{ item.title }}
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
