<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta charset="UTF-8">
{#    <base href="http://www.utepliteli.org/">#}
    <title>Теплый Дом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="yes" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta property="og:title" content="Теплый Дом"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/images/tepliydom.png"/>
    <meta property="og:url" content="https://www.utepliteli.org/"/>


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo-short.png"/>
    <link rel="image_src" href="https://www.utepliteli.org/images/tepliydom.png"/>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bitrix/templates/aspro_next_orig/themes/4/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}{% if app.environment == 'dev' %}?v={{ random() }}{% endif %}">
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</head>
<body class="site_s1 fill_bg_y " id="main">
<div class="container-fluid">



{% set menu = [
    {
        'label': 'Теплоизоляция',
        'route': 'index',
        'fullPath' : '',
        'image': '844d7696accf071405a215bf3cdedda4.png',
        'imageXs': '29a7003809dbd7f79e29902cea1ba6d2.png',
        'is_fav': true,
        'children': [
        {
            'label': 'Базальтовый утеплитель',
            'route': '',
            'fullPath': '/',
            'image': '',
            'imageXs': '',
            'is_fav': false,
            'children': []
        },
        {
            'label': 'Экструзионный пенополистирол',
            'route': '',
            'fullPath': '/',
            'image': '97c70259801c0938eed74df9f5c29e88.png',
            'imageXs': '97c70259801c0938eed74df9f5c29e88.png',
            'is_fav': false,
            'children': []
        },
        {
            'label': 'Минеральная вата',
            'route': '',
            'fullPath': '/',
            'image': '7568f74c744173fd57a587c09d0030a1.png',
            'imageXs': '7568f74c744173fd57a587c09d0030a1.png',
            'is_fav': false,
            'children': []
        },
    ]
    },
    {
        'label': 'Гидроизоляция',
        'route': 'index',
        'fullPath' : '',
        'image': '4de621ec964168162cdaf2e6ef390569.jpg',
        'imageXs': '8eb8d288c6794b56b4191f7976b16239.png',
        'is_fav': true,
        'children': [
        {
            'label': 'Битумные рулонные материалы',
            'route': '',
            'fullPath': '/',
            'image': '4de621ec964168162cdaf2e6ef390569.jpeg',
            'imageXs': '4de621ec964168162cdaf2e6ef390569.jpeg',
            'is_fav': false,
            'children': []
        },
    ],
    },
    {
        'label': 'Звукоизоляция',
        'route': 'index',
        'fullPath' : '',
        'image': 'e24207c896c356608fb0495f25a3fafe.png',
        'imageXs': 'e24207c896c356608fb0495f25a3fafe.png',
        'is_fav': false,
        'children': [],
    },
    {
        'label': 'Пароизоляция',
        'route': 'index',
        'fullPath' : '',
        'image': '2bf064154f42e0df9680477902ef8a1b.png',
        'imageXs': '2bf064154f42e0df9680477902ef8a1b.png',
        'is_fav': false,
        'children': [],
    },
    {
        'label': 'Ветро-влагозащита',
        'route': 'index',
        'fullPath' : '',
        'image': 'a5c88e63227acecf59949a74da9baf92.png',
        'imageXs': 'a5c88e63227acecf59949a74da9baf92.png',
        'is_fav': false,
        'children': [],
    },
    {
        'label': 'Техническая изоляция',
        'route': 'index',
        'fullPath' : '',
        'image': '51a53eedbda0239c74e976ee7234d8b2.png',
        'imageXs': '51a53eedbda0239c74e976ee7234d8b2.png',
        'is_fav': false,
        'children': [
        {
            'label': 'Цилиндры',
            'route': '',
            'fullPath': '/',
            'image': 'c5541f9421baf02602046805441cda7f.png',
            'imageXs': 'c5541f9421baf02602046805441cda7f.png',
            'is_fav': false,
            'children': []
        },
    ],
    },
    {
        'label': 'Утепление фасадов',
        'route': 'index',
        'fullPath' : '',
        'image': 'd6b2cf2a89ad5bc4c85326cb53e58fdc.png',
        'imageXs': 'd6b2cf2a89ad5bc4c85326cb53e58fdc.png',
        'is_fav': false,
        'children': [],
    },
    {
        'label': 'Древесно-стружечные плиты',
        'route': 'index',
        'fullPath' : '',
        'image': '384c25fdea6ec7a31fac87a29d1030af.png',
        'imageXs': '384c25fdea6ec7a31fac87a29d1030af.png',
        'is_fav': false,
        'children': [],
    },
    {
        'label': 'Крепёж',
        'route': 'index',
        'fullPath' : '',
        'image': 'c96a00a86b19071cb6653376823e495a.png',
        'imageXs': 'c96a00a86b19071cb6653376823e495a.png',
        'is_fav': false,
        'children': [],
    },
    {
        'label': 'Смеси, краски и грунтовки',
        'route': 'index',
        'fullPath' : '',
        'image': '97051bedbacfa2a4c175cd73d6da9f94.png',
        'imageXs': '97051bedbacfa2a4c175cd73d6da9f94.png',
        'is_fav': false,
        'children': [
        {
            'label': 'Краски',
            'route': '',
            'fullPath': '/',
            'image': '',
            'imageXs': '',
            'is_fav': false,
            'children': []
        },{
            'label': 'Грунтовки',
            'route': '',
            'fullPath': '/',
            'image': '',
            'imageXs': '',
            'is_fav': false,
            'children': []
        },{
            'label': 'Штукатурки',
            'route': '',
            'fullPath': '/',
            'image': '',
            'imageXs': '',
            'is_fav': false,
            'children': []
        },{
            'label': 'Клеи',
            'route': '',
            'fullPath': '/',
            'image': '',
            'imageXs': '',
            'is_fav': false,
            'children': []
        },

    ],
    },
    {
        'label': 'Пены и герметики',
        'route': 'index',
        'fullPath' : '',
        'image': '56491ba78fa466ef3da562f2beb1e9fe.png',
        'imageXs': '56491ba78fa466ef3da562f2beb1e9fe.png',
        'is_fav': false,
        'children': [],
    },

]
%}
    {% set menu = menu_service.getCatalogMenu() %}

    {{ include('header.html.twig') }}
{% block content %}
{% endblock %}
{{ include('footer.html.twig') }}
</div>
</body>
</html>
