{% extends 'base.html.twig' %}

{% block content %}
    {% set placeholder = 'data:image/svg+xml;charset=UTF-8,' ~
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">' ~
        '<defs>' ~
        '<linearGradient id="bgGrad" x1="0" y1="0" x2="0" y2="1">' ~
        '<stop offset="0%" stop-color="%23f8f9fa"/>' ~
        '<stop offset="100%" stop-color="%23e9ecef"/>' ~
        '</linearGradient>' ~
        '</defs>' ~
        '<rect width="100%" height="100%" fill="url(%23bgGrad)"/>' ~
        '<circle cx="60" cy="60" r="20" fill="%23ced4da"/>' ~
        '<path d="M 20 160 L 80 100 L 130 150 L 180 90 L 200 160 Z" fill="%23dee2e6"/>' ~
        '<path d="M 0 170 L 50 120 L 100 160 L 150 110 L 200 170 Z" fill="%23ced4da" opacity="0.8"/>' ~
        '</svg>'
        | url_encode %}
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        Каталог продукции
                    </div>
                    {{ include('menu-catalog.html.twig') }}
                </div>
                {{ include('_block/subscription.html.twig') }}
            </div>

            <!-- Контент справа -->
            <div class="col-lg-9">
                <h1>{{ page.title }}</h1>
                {% if page.description is not empty %}
                <div>{{ page.description|raw }}</div>
                {% endif %}
                <div class="row g-3">
                    {% for item in newList %}
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-light rounded p-2 h-100 d-flex flex-column align-items-center text-center">
                            <a href="{{ item.product.m_fullPath }}" class="d-block w-100">
                                <div class="image-container" style="height: 200px; display: flex; align-items: center; justify-content: center;">
                                    {# Блок вариантов - компактный вид #}


                                    {% if item.variants|default([])|length > 0 %}
                                        <div class="variants mt-2">
                                            <div class="d-flex flex-wrap justify-content-center gap-1">
                                                {% for variant in item.variants|slice(0, 6) %}
                                                    {#                                                    {% if variant.color %} #}
                                                    {#                                                        <a href="{{ variant.url }}" #}
                                                    {#                                                           class="variant-color d-inline-block rounded-circle border" #}
                                                    {#                                                           style="width: 20px; height: 20px; background-color: {{ variant.color }};" #}
                                                    {#                                                           title="{{ variant.name }}"></a> #}
                                                    {#                                                    {% else %} #}
                                                    {#                                                        <a href="{{ variant.url }}" #}
                                                    {#                                                           class="variant-btn btn btn-outline-secondary btn-sm py-0 px-1" #}
                                                    {#                                                           title="{{ variant.name }}"> #}
                                                    {#                                                            {{ variant.short_name }} #}
                                                    {#                                                        </a> #}
                                                    {#                                                    {% endif %} #}
                                                {% endfor %}


                                            </div>
                                        </div>
                                    {% endif %}


                                    {% if item.product.p_preview|default([])|length > 0 %}
                                        {% if item.product.p_preview starts with '/images/' %}
                                            <img class="img-fluid mh-100" style="max-height: 200px; width: auto;"
                                                 src="{{ item.product.p_preview }}" alt="{{ item.product.p_title }}">
                                        {% else %}
                                            <img class="img-fluid mh-100" style="max-height: 200px; width: auto;"
                                                 src="/images/product/{{ item.product.p_preview }}"
                                                 alt="{{ item.product.p_title }}">
                                        {% endif %}
                                    {% else %}
                                        <img class="img-fluid mh-100" style="max-height: 200px; width: auto;"
                                             src="{{ placeholder }}" alt="{{ item.product.p_title }}">
                                    {% endif %}

                                </div>

                                {#                                {% if item.variants|length > 6 %} #}
                                {#                                <div class="variants mt-2 w-100"> #}
                                {#                                    <div class="d-flex flex-wrap justify-content-center gap-1"> #}
                                {#                                    <button class="btn btn-outline-secondary btn-sm py-0 px-1" #}
                                {#                                            data-bs-toggle="tooltip" #}
                                {#                                            title="Еще {{ item.variants|length - 6 }} вариантов"> #}
                                {#                                        +{{ item.variants|length - 6 }} #}
                                {#                                    </button> #}
                                {#                                    </div> #}
                                {#                                    </div> #}
                                {#                                {% endif %} #}
                                <h6 class="mt-2 mb-1">{{ item.product.p_title }}</h6>
                            </a>

                            {% if item.hasVariants %}
                                <div class="variants mt-2 w-100">
                                    <div class="d-flex flex-wrap justify-content-center gap-1">
                                        {% for variant in item.variants %}
                                            {% if variant.color %}
                                                <a
                                                    href="{{ item.product.m_fullPath }}?variant={{ loop.index0 }}"
                                                    {#                                                            href="{{ variant.url }}" #}
                                                    class="variant-color d-inline-block rounded-circle border"
                                                    style="width: 16px; height: 16px; background-color: {{ variant.color }}; border: 1px solid #666 !important;"
                                                    title="{{ variant.name }}"></a>
                                                {#                                                    {% else %} #}
                                                {#                                                        <a #}
                                                {#                                                            href="{{ variant.url }}" #}
                                                {#                                                           class="variant-btn btn btn-outline-secondary btn-sm py-0 px-1" #}
                                                {#                                                           title="{{ variant.name }}"> #}
                                                {#                                                            {{ variant.name|length > 10 ? variant.name|slice(0, 10) ~ '...' : variant.name }} #}
                                                {#                                                        </a> #}
                                            {% endif %}
                                            {% if variant.diameter is not null %}
                                                <a href="{{ item.product.m_fullPath }}?variant={{ loop.index0 }}"
                                                   class="variant-btn btn btn-outline-secondary btn-sm py-0 px-1 no-underline"
                                                   title="{{ variant.diameter }}">
                                                    &#8960; {{ variant.diameter }} x {{ variant.thickness }}
                                                </a>

                                            {% elseif variant.thickness %}
                                                <a href="{{ item.product.m_fullPath }}?variant={{ loop.index0 }}"
                                                   class="variant-btn btn btn-outline-secondary btn-sm py-0 px-1 no-underline"
                                                   title="{{ variant.thickness }}">
                                                    {{ variant.thickness }}
                                                </a>

                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="stars mb-1">
                                <span class="text-warning">★★★★★</span>
                            </div>
                            {#                            <div class="text-muted small mb-1">Нет в наличии</div> #}
                            {#                            <div class="fw-bold">от 570.01 руб.</div> #}
                        </div>
                    </div>
                    {% endfor %}

                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
